
<div class="secondaryBody animated fadeInUp">
	<h1 class="store animated fadeInUp">Store</h1>
	<div ng-repeat="product in items">
		<div class="theProduct small-2 large-4 columns animated fadeInUp">
			<img ng-src="{{product.image}}" class="small-centered" alt="">
			<h3>{{product.name}}</h3>
			<h4>{{product.description}}</h4>
			<h3>{{product.price | currency}}</h3>
			<a href="#/chat"><button ng-show="product.canPurchase" class="cartButton">Make an offer</button></a>
		</div>	
	</div>
</div>